<template>
  <div class="about" style="margin: auto auto; max-width: 40em;">
    <h1>About Flipstarters on Bitcoin Cash</h1>
    <p>
        This website was created by and is maintained by <a href="https://twitter.com/dagur">@dagur</a>.
        This page keeps an overview of active and historical flipstarters.
        Due to the desentrailzed nature of Flipstarter, this is a manual task.
    </p>
    <p>
        This website has been improved with contributions from
        <a href="https://gitlab.com/dagurval/flipstarters/-/merge_requests?scope=all&utf8=%E2%9C%93&state=merged&author_username=kharri1073">
        @kharri1073</a>.
    </p>
    <p>
        This website, including the flipstarter data collected is licensed
        under GNU AFFERO GENERAL PUBLIC LICENSE Version 3 (AGPLv3). Source
        code is available on <a href="https://gitlab.com/dagurval/flipstarters">GitLab</a>
    </p>
  </div>
</template>
<style>
html {
  overflow-y:scroll;
}
</style>
